@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-color: #000000;
}

.text-custom {
  color: var(--custom-color);
}

.bg-custom {
  background-color: var(--custom-color);
}

.border-custom {
  border-color: var(--custom-color);
}

.bg-custom\/10 {
  background-color: color-mix(in srgb, var(--custom-color) 10%, transparent);
}

/* ! 사용 여부 확인 */
.rounded-button {
  border-radius: 0.75rem;
}
